div.container{

    .sous-titre {
        position: relative;
        text-align: center;

        // Erreur margin right des accents
        span.accent {
            margin-right: -6px;
        }

        h2 {
            display: inline-block;
            margin: 0;
            width: 100%;

            //text-transform: uppercase;
            font-family: sans-serif; // Calligraserif
            font-weight: normal;
            font-size: 1.2em;
            color: $vert;

            margin-bottom: 45px;

            &::before {
                content: '';
                display: inline-block;
                margin-right: 30px;
                margin-bottom: 3px;
                vertical-align: middle;
                @media screen and (max-width: 1199px) {width: 0;}
                @media screen and (min-width: 1200px) {width: 80px;}
                height: 1px;
                background-color: $vert;
            }

            &::after {
                content: '';
                display: inline-block;
                margin-left: 30px;
                margin-bottom: 3px;
                vertical-align: middle;
                @media screen and (max-width: 1199px) {width: 0;}
                @media screen and (min-width: 1200px) {width: 80px;}
                height: 1px;
                background-color: $vert;
            }
        }

        p {

            font-family: sans-serif;
            font-size: 1.2em;
            color: $vert;
            width: 100%;
        }
    }

    .vignettes {
        margin-bottom: 50px;


        .block {
            position: relative;
            margin-bottom: 9px;
            overflow: hidden;
            cursor: pointer;

            img {
                width: 100%;
                margin-bottom: -4px;
            }

            .description {
                position: absolute;

                background-color: $vert;
                opacity: 0.9;

                color: #fff;

                .wrapper {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 70%;
                    margin: auto;

                    text-align: center;

                    hr {

                        margin-top: 15px;
                        margin-bottom: 15px;

                        width: 0;
                        height: 1px;
                        border: 1px solid #fff;
                        background-color: #fff;

                        &.active {
                            width: 100%;
                        }
                    }

                    .nom {
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
            }

            .active {
                top: 0;
            }
        }
    }

    #groupe {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: -2px;
            right: 3px;
            width: 9px;
            height: 2px;
            background: transparent url('../img/fond.jpg');
            background-attachment: fixed;
        }

        display: none;

        position: relative;

        .close {
            display: inline-block;
            position: absolute;
            top:-17.5px;
            right: -16px;

            color: $vert;
            cursor: pointer;

            border-radius:50%;
        }

        border-top: 2px solid $vert;
        border-bottom: 2px solid $vert;

        .nom {
            color: $vert;

            h3 {
                display: inline-block;
                margin-top: 15px;
                line-height: 0.2;
                text-transform: uppercase;
            }

            span.style {
                letter-spacing: 1px;
                margin-left: 5px;
            }

        }

        div.reseaux {
            text-align: right;
        }

        .wrapper{
            padding: 0 10px;

            .youtube {
                position: relative;

                &, &>* {
                    cursor: pointer;
                }

                img.video {
                    width: 100%;
                    vertical-align: middle;
                }

                .player {
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    filter: grayscale(30%);
                    transition: filter 0.1s;
                }

                &:hover {
                    .player {
                        filter: grayscale(0%)
                    }
                }
            }

            .image {
                img {
                    vertical-align: bottom;
                    width: 100%;
                }
            }

            .son {
                /*
                .son-wrapper {
                    position: relative;
                    height: 100%;
                }
                */

                .lecteur {
                    margin-top: 10px;

                    iframe {
                        vertical-align: middle;
                    }
                }
            }
        }


        .texte {
            p {
                font-family: 'sans serif';
                color: $vert;
                line-height: 1.4;
                margin-top: 28px;
                margin-bottom: 30px;

                a {
                    text-decoration: none;
                    color: lighten($vert, 10%);
                    border-bottom: solid 1px transparent;
                    transition: border-bottom 0.3s;

                    &:hover {
                        border-bottom: 1px solid lighten($vert, 10%);
                    }
                }

                &.site {
                    text-align: right;
                    margin: -7px 0 33px 0;
                }
            }
        }
    }

    .back-to-top {
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;

        bottom: 30px;
        right: 30px;
        width: 40px;
        height: 40px;
        background-color: $vert;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.5s;

        cursor: pointer;
        color: $blanc;

        &.visible {
            opacity: 0.5;
        }

        &:hover {
            opacity: 1;
        }
    }
}

@media screen and (min-width: 991px) {

    #groupe {
        margin-left: 130px;
        margin-right: 130px;
    }

}

@media screen and (min-width: 769px) {

    #groupe {
        .nom {
            padding-bottom: 20px;
        }

        .reseaux {
            padding-top: 6px;
            padding-right: 22px;
        }
    }

}

@media screen and (min-width: 769px) and (max-width: 990px) {


}

@media screen and (max-width: 768px) {

    #groupe {
        margin-left: 5px;
        margin-right: 5px;

        .image {
            display: none;
        }
    }

    .sous-titre h2::before {width:0;}
    .sous-titre h2::after {width:0;}

    p {
        font-size: 0.9em;
    }

}
