@import 'fonts';

$noir: #1c1c1c;
$marron: #784933;
$vert: #143e34;
$beige: #fcefe4;
$blanc: #fefefe;

body {
    margin:0;
    padding:0;
    background: transparent url('../img/fond.jpg');
    background-attachment: fixed;

    font-family: 'Open Sans', sans-serif;
    color: $noir;

    &::before {
        display:block;
        position: fixed;
        top: 0;
        left: 0;
        content: '';
        height: 100%;
        width: calc(50% - 535px);
        //background-color: rgba($vert, 0.6);
        background: linear-gradient(to right, rgba($vert, 0.6), rgba($vert, 0));
        z-index: -1;
    }

    &::after {
        display:block;
        position: fixed;
        top: 0;
        right: 0;
        content: '';
        height: 100%;
        width: calc(50% - 535px);
        //background-color: rgba($vert, 0.6);
        background: linear-gradient(to left, rgba($vert, 0.6), rgba($vert, 0));
        z-index: -1;
    }
}
