h1 {
    @media screen and (max-width: 768px) {font-size: 6em;}
    @media screen and (min-width: 769px) {font-size: 8.5em;}
}

.sous-titre {
    p {
        @media screen and (max-width: 768px) {margin: 30px 0 30px 0; font-size: 1.3em;}
        @media screen and (min-width: 769px) {margin: 65px 0 75px 0; font-size: 1.55em;}
    }
}

.vignettes {
    .description {
        @media screen and (max-width: 1199px) {font-size: 0.8em;}
    }
}

#groupe {
    .nom {
        @media screen and (max-width: 768px) {font-size: 1em;}
        @media screen and (min-width: 769px) {font-size: 1.2em;}
    }

    p {
        @media screen and (max-width: 768px) {font-size: 1em;}
        @media screen and (min-width: 769px) {font-size: 1.1em;}
    }
}
