@font-face {
    font-family:'aFontWithSerifs';
    src:url('../fonts/aFontWithSerifs.ttf');
}

@font-face {
    font-family: 'Calligraserif';
    src: url('../fonts/Calligraserif.otf')
}

@font-face {
    font-family: 'BrotherHood';
    src: url('../fonts/BrotherhoodScript.ttf');
}

@font-face {
    font-family: 'Kalam';
    src: url('../fonts/KalamLight.ttf');
}
