footer {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align:center;

    .contact {
        position: relative;
        display: inline-block;

        .coordonnees {
            font-family: 'Calligraserif';
            font-size: 1.6em;
            line-height: 1.2;

            p {
                margin-top:10px;
                margin-bottom:10px;
            }
        }

        .liens {
            img {
                width: 40px;
            }
        }

        img.logo-footer {
            position: absolute;
            top:-43px;
            left:-84px;

            width: 90px;
            z-index: -1;
        }
    }

}
