header {
    text-align:center;

    .wrapper {
        position: relative;
        display: inline-block;

        img.logo {
            position: absolute;

            @media screen and (max-width: 768px) {
                width: 65px;
                top: 22px;
                left: -61px;
            }

            @media screen and (min-width: 769px) {
                width: 100px;
                top: 20px;
                left: -118px;
            }
        }

        h1 {
            font-family: 'BrotherHood';
            line-height: 0.5;
            font-weight: initial;
            color: $marron;
        }
    }


}
