div.animation {

    text-align: center;


    p {
        margin: 10px 0 10px 0;

        //font-family: 'aFontWithSerifs';

        @media screen and (max-width: 768px) {font-size: 1em;}
        @media screen and (min-width: 769px) {font-size: 1.2em;}

        color: $vert;
    }

    .bouton {
        display: inline-block;
        background-color: lighten($vert, 15%);
        color: $blanc;
        border-radius: 7px;
        padding: 12px 24px;
        margin: 20px;

        &:hover {
            background-color: lighten($vert, 20%);
        }
    }

}

div.logo {
    text-align: center;

    img {height: 150px;}
}
