@import 'font-sizes';
@import 'body';
@import 'header';
@import 'index';
@import 'accueil';
@import 'footer';

* {outline: none;}

img.bouton-social:hover {
    transform: rotate(8deg);
    transition: 0.3s;
}
