@media screen and (max-width: 768px) {
  h1 {
    font-size: 6em; } }

@media screen and (min-width: 769px) {
  h1 {
    font-size: 8.5em; } }

@media screen and (max-width: 768px) {
  .sous-titre p {
    margin: 30px 0 30px 0;
    font-size: 1.3em; } }

@media screen and (min-width: 769px) {
  .sous-titre p {
    margin: 65px 0 75px 0;
    font-size: 1.55em; } }

@media screen and (max-width: 1199px) {
  .vignettes .description {
    font-size: 0.8em; } }

@media screen and (max-width: 768px) {
  #groupe .nom {
    font-size: 1em; } }

@media screen and (min-width: 769px) {
  #groupe .nom {
    font-size: 1.2em; } }

@media screen and (max-width: 768px) {
  #groupe p {
    font-size: 1em; } }

@media screen and (min-width: 769px) {
  #groupe p {
    font-size: 1.1em; } }

@font-face {
  font-family: 'aFontWithSerifs';
  src: url("../fonts/aFontWithSerifs.ttf"); }

@font-face {
  font-family: 'Calligraserif';
  src: url("../fonts/Calligraserif.otf"); }

@font-face {
  font-family: 'BrotherHood';
  src: url("../fonts/BrotherhoodScript.ttf"); }

@font-face {
  font-family: 'Kalam';
  src: url("../fonts/KalamLight.ttf"); }

body {
  margin: 0;
  padding: 0;
  background: transparent url("../img/fond.jpg");
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  color: #1c1c1c; }
  body::before {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: calc(50% - 535px);
    background: -webkit-gradient(linear, left top, right top, from(rgba(20, 62, 52, 0.6)), to(rgba(20, 62, 52, 0)));
    background: linear-gradient(to right, rgba(20, 62, 52, 0.6), rgba(20, 62, 52, 0));
    z-index: -1; }
  body::after {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    content: '';
    height: 100%;
    width: calc(50% - 535px);
    background: -webkit-gradient(linear, right top, left top, from(rgba(20, 62, 52, 0.6)), to(rgba(20, 62, 52, 0)));
    background: linear-gradient(to left, rgba(20, 62, 52, 0.6), rgba(20, 62, 52, 0));
    z-index: -1; }

header {
  text-align: center; }
  header .wrapper {
    position: relative;
    display: inline-block; }
    header .wrapper img.logo {
      position: absolute; }
      @media screen and (max-width: 768px) {
        header .wrapper img.logo {
          width: 65px;
          top: 22px;
          left: -61px; } }
      @media screen and (min-width: 769px) {
        header .wrapper img.logo {
          width: 100px;
          top: 20px;
          left: -118px; } }
    header .wrapper h1 {
      font-family: 'BrotherHood';
      line-height: 0.5;
      font-weight: initial;
      color: #784933; }

div.animation {
  text-align: center; }
  div.animation p {
    margin: 10px 0 10px 0;
    color: #143e34; }
    @media screen and (max-width: 768px) {
      div.animation p {
        font-size: 1em; } }
    @media screen and (min-width: 769px) {
      div.animation p {
        font-size: 1.2em; } }
  div.animation .bouton {
    display: inline-block;
    background-color: #277865;
    color: #fefefe;
    border-radius: 7px;
    padding: 12px 24px;
    margin: 20px; }
    div.animation .bouton:hover {
      background-color: #2d8b75; }

div.logo {
  text-align: center; }
  div.logo img {
    height: 150px; }

div.container .sous-titre {
  position: relative;
  text-align: center; }
  div.container .sous-titre span.accent {
    margin-right: -6px; }
  div.container .sous-titre h2 {
    display: inline-block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    color: #143e34;
    margin-bottom: 45px; }
    div.container .sous-titre h2::before {
      content: '';
      display: inline-block;
      margin-right: 30px;
      margin-bottom: 3px;
      vertical-align: middle;
      height: 1px;
      background-color: #143e34; }
      @media screen and (max-width: 1199px) {
        div.container .sous-titre h2::before {
          width: 0; } }
      @media screen and (min-width: 1200px) {
        div.container .sous-titre h2::before {
          width: 80px; } }
    div.container .sous-titre h2::after {
      content: '';
      display: inline-block;
      margin-left: 30px;
      margin-bottom: 3px;
      vertical-align: middle;
      height: 1px;
      background-color: #143e34; }
      @media screen and (max-width: 1199px) {
        div.container .sous-titre h2::after {
          width: 0; } }
      @media screen and (min-width: 1200px) {
        div.container .sous-titre h2::after {
          width: 80px; } }
  div.container .sous-titre p {
    font-family: sans-serif;
    font-size: 1.2em;
    color: #143e34;
    width: 100%; }

div.container .vignettes {
  margin-bottom: 50px; }
  div.container .vignettes .block {
    position: relative;
    margin-bottom: 9px;
    overflow: hidden;
    cursor: pointer; }
    div.container .vignettes .block img {
      width: 100%;
      margin-bottom: -4px; }
    div.container .vignettes .block .description {
      position: absolute;
      background-color: #143e34;
      opacity: 0.9;
      color: #fff; }
      div.container .vignettes .block .description .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 70%;
        margin: auto;
        text-align: center; }
        div.container .vignettes .block .description .wrapper hr {
          margin-top: 15px;
          margin-bottom: 15px;
          width: 0;
          height: 1px;
          border: 1px solid #fff;
          background-color: #fff; }
          div.container .vignettes .block .description .wrapper hr.active {
            width: 100%; }
        div.container .vignettes .block .description .wrapper .nom {
          text-transform: uppercase;
          font-weight: bold; }
    div.container .vignettes .block .active {
      top: 0; }

div.container #groupe {
  position: relative;
  display: none;
  position: relative;
  border-top: 2px solid #143e34;
  border-bottom: 2px solid #143e34; }
  div.container #groupe::after {
    content: '';
    position: absolute;
    top: -2px;
    right: 3px;
    width: 9px;
    height: 2px;
    background: transparent url("../img/fond.jpg");
    background-attachment: fixed; }
  div.container #groupe .close {
    display: inline-block;
    position: absolute;
    top: -17.5px;
    right: -16px;
    color: #143e34;
    cursor: pointer;
    border-radius: 50%; }
  div.container #groupe .nom {
    color: #143e34; }
    div.container #groupe .nom h3 {
      display: inline-block;
      margin-top: 15px;
      line-height: 0.2;
      text-transform: uppercase; }
    div.container #groupe .nom span.style {
      letter-spacing: 1px;
      margin-left: 5px; }
  div.container #groupe div.reseaux {
    text-align: right; }
  div.container #groupe .wrapper {
    padding: 0 10px; }
    div.container #groupe .wrapper .youtube {
      position: relative; }
      div.container #groupe .wrapper .youtube, div.container #groupe .wrapper .youtube > * {
        cursor: pointer; }
      div.container #groupe .wrapper .youtube img.video {
        width: 100%;
        vertical-align: middle; }
      div.container #groupe .wrapper .youtube .player {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-filter: grayscale(30%);
                filter: grayscale(30%);
        -webkit-transition: -webkit-filter 0.1s;
        transition: -webkit-filter 0.1s;
        transition: filter 0.1s;
        transition: filter 0.1s, -webkit-filter 0.1s; }
      div.container #groupe .wrapper .youtube:hover .player {
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    div.container #groupe .wrapper .image img {
      vertical-align: bottom;
      width: 100%; }
    div.container #groupe .wrapper .son {
      /*
                .son-wrapper {
                    position: relative;
                    height: 100%;
                }
                */ }
      div.container #groupe .wrapper .son .lecteur {
        margin-top: 10px; }
        div.container #groupe .wrapper .son .lecteur iframe {
          vertical-align: middle; }
  div.container #groupe .texte p {
    font-family: 'sans serif';
    color: #143e34;
    line-height: 1.4;
    margin-top: 28px;
    margin-bottom: 30px; }
    div.container #groupe .texte p a {
      text-decoration: none;
      color: #206554;
      border-bottom: solid 1px transparent;
      -webkit-transition: border-bottom 0.3s;
      transition: border-bottom 0.3s; }
      div.container #groupe .texte p a:hover {
        border-bottom: 1px solid #206554; }
    div.container #groupe .texte p.site {
      text-align: right;
      margin: -7px 0 33px 0; }

div.container .back-to-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: #143e34;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  cursor: pointer;
  color: #fefefe; }
  div.container .back-to-top.visible {
    opacity: 0.5; }
  div.container .back-to-top:hover {
    opacity: 1; }

@media screen and (min-width: 991px) {
  #groupe {
    margin-left: 130px;
    margin-right: 130px; } }

@media screen and (min-width: 769px) {
  #groupe .nom {
    padding-bottom: 20px; }
  #groupe .reseaux {
    padding-top: 6px;
    padding-right: 22px; } }

@media screen and (max-width: 768px) {
  #groupe {
    margin-left: 5px;
    margin-right: 5px; }
    #groupe .image {
      display: none; }
  .sous-titre h2::before {
    width: 0; }
  .sous-titre h2::after {
    width: 0; }
  p {
    font-size: 0.9em; } }

footer {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center; }
  footer .contact {
    position: relative;
    display: inline-block; }
    footer .contact .coordonnees {
      font-family: 'Calligraserif';
      font-size: 1.6em;
      line-height: 1.2; }
      footer .contact .coordonnees p {
        margin-top: 10px;
        margin-bottom: 10px; }
    footer .contact .liens img {
      width: 40px; }
    footer .contact img.logo-footer {
      position: absolute;
      top: -43px;
      left: -84px;
      width: 90px;
      z-index: -1; }

* {
  outline: none; }

img.bouton-social:hover {
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  -webkit-transition: 0.3s;
  transition: 0.3s; }
